{% extends "layout.html" %}
{% block title %}
    Home page
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type= "text/css" href="../static/home.css">
<p>
Hello
<br>
Good to see you here.
<br>
I'm Mahdi Rostami this is my weblog, here you can see my projects and some useful APIs and websites.
<br>
Also, I create a note page which you can save your notes and nobody else can't see them.
<br>
You can contact me via email and social media's platforms for your Python projects.
<br>
I create this website with flask: <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">https://flask.palletsprojects.com/en/2.0.x/</a>
<br>
and html: <a href="https://www.w3schools.com/css/" target="_blank">https://www.w3schools.com/css/</a> and CSS: <a href="https://www.w3schools.com/html/" target="_blank">https://www.w3schools.com/html/</a>
and bootstrap: <a href="https://getbootstrap.com/" target="_blank">https://getbootstrap.com/</a>
<br>
I upload this site on <a href="https://www.heroku.com/" target="_blank">https://www.heroku.com/</a> free</p>
<br>
<h6><a href="https://github.com/rostamimahdi1997/CV/blob/master/cv.pdf">MY CV</a></h6>
</p>
{% endblock %}