{% extends "layout.html" %}
{% block title %}
    Home page
{% endblock %}
{% block head %}
{% endblock %}
{% block content %}
<link rel="stylesheet" type= "text/css" href="../static/home.css">
<p>
Hello
<br>
Good to see you here.
<br>
I'm Mahdi Rostami this is my weblog ,here you can see my projects and i put some useful apis and website.
<br>
Also i create a note page which you can save your notes there and nobody else can't see them.
<br>
You can contanct me via email and social media's platforms for your projects.
<br>
I create this website with flask: <a href="https://flask.palletsprojects.com/en/2.0.x/" target="_blank">https://flask.palletsprojects.com/en/2.0.x/</a>
<br>
and html: <a href="https://www.w3schools.com/css/" target="_blank">https://www.w3schools.com/css/</a> and css: <a href="https://www.w3schools.com/html/" target="_blank">https://www.w3schools.com/html/</a>
</p>
{% endblock %}