{% extends "layout.html" %}
{% block title %}
    Notes
{% endblock %}
{% block head %}
    Notes
{% endblock %}
{% block content%}
<p>for a while your notes may be deleted because I upload in free host and when I make changes and push something new it will reset our site, sorry for that, I'll address it.</p>
 </p>
<ul class="list-group list-group-flush" id="notes">
    {% for note in user.notes %}
    <li class="list-group-item">
    {{ note.data }}
    <button type="button" class="close" onClick="deleteNote({{ note.id }})">
        <span aria-hidden="true">&times;</span>
    </button>
  </li>
    {% endfor %}
</ul>
<form method="POST">
    <textarea name="note" id="note" class="form-control"></textarea>
    <br />
    <div align="center">
    <button type="submit" class="btn btn-primary">Add Note</button>
    </div>
</form>
    {% endblock %}