{% extends "layout.html" %}
{% block title %}
    Pacman-Game
{% endblock %}
{% block head %}
    Project 2:Pacman
{% endblock %}
{% block content %}
<iframe width="300" height="270" src="https://www.youtube.com/embed/Q90HJDXRv7k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
#pacman
<br>
this is a pacman game .
<br>
@ -> our hero
<br>
G -> ghosts
<br>
P -> pills
<br>
. -> empty spaces
<br>
| and - -> walls
<br>
Q -> ghosts on pills
<br>
ghosts and hero can't go on walls.
<br>
ghosts can't eat pills.
<br>
every 10 seconds pills removed and new pills in new places created.
<br>
this game has two levels which in easy one ghost move randomly and in normal one ghosts move to catch our hero.
<br>
you must pick pills, pills are your score.
<br>
if ghosts hit you, you die and the game finish.
<br>
if you press "Esc" game finish.
<br>
<a href="https://github.com/rostamimahdi1997/pacman.git" target="_blank">https://github.com/rostamimahdi1997/pacman.git</a>
</p>
{% endblock %}