{% extends "layout.html" %}
{% block title %}
    Standford-Covid
{% endblock %}
{% block head %}
    Project 1:Standford-Final-Project
{% endblock %}

{% block content %}
<link rel="stylesheet" type= "text/css" href="../static/projects.css">
<iframe width="420" height="315"
src="https://youtu.be/qB6cr-ehCSo">
</iframe>
<p>
    Do some some data science:I use covid-19 reports:<a href="https://github.com/CSSEGISandData/COVID-19" target="_blank">https://github.com/CSSEGISandData/COVID-19</a>
    and make big dictionaries 
    <br>
    then I create an image that shows the distribution of death and confirmed and
    recovered in 3 three different pages with a different colour.
    <br>
    each sign is related to a specific country(lat, long), the max size of a sign is 15 and the min size is 1 and is related to the number of reports.
    <br>
    also, there is a graph for each country (if the county has states you have to say which state)that shows the changes in 16 months
    <br>
    ///here we have all of countries except USA
    between 1/22/2020 - 5/25/2021.
    <br>
    Stanford-final-project:<a href="https://github.com/rostamimahdi1997/standford-final-project" target="_blank"> https://github.com/rostamimahdi1997/standford-final-project</a>.
    
 </p>
{% endblock %}
