{% extends "layout.html" %}
{% block title %}
    website
{% endblock %}
{% block head %}
    Project 3:website
{% endblock %}
{% block content %}
<iframe width="300" height="270" src="https://www.youtube.com/embed/VBez80WNK_o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>
create my website with flask and upload it on Heroku
<br>
Git hub:<a href="https://github.com/rostamimahdi1997/werbsite" target="_blank">https://github.com/rostamimahdi1997/werbsite</a>
<br>
Heroku:<a href="https://devcenter.heroku.com/articles/git" target="_blank">https://devcenter.heroku.com/articles/git</a>
<br>
# website
<br>
I'm Mahdi Rostami this is my weblog, here you can see my projects and some useful APIs and websites.
<br>
Also, I create a note page in which you can save your notes and nobody else can't see them.
<br>
You can contact me via email and social media's platforms for your projects.
</p>
{% endblock %}